@import "../utils/Colors.scss";

// main section

.index-body {
  font-family: "Source Sans Pro", sans-serif;
}
.main-all {
  padding: 94px 50px;
  position: relative;
  .main {
    // clip-path: polygon(
    //   0% 0%,
    //   100% 0%,
    //   100% 100%,
    //   63.26% 90.95%,
    //   51.38% 90.95%,
    //   36.95% 90.95%,
    //   0% 100%
    // );
    clip-path: url(#myCurve);
    padding: 32px 32px 128px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      $nav-links-hover-color 0%,
      $nav-links 130%
    );
    position: relative;

    &-cards {
      display: flex;
      color: white;
      max-width: 950px;
      margin: 0 auto;
      img {
        position: absolute;
      }
      .left {
        top: 200px;
        left: 8%;
      }
      .right {
        top: 0px;
        right: 8%;
      }

      &__card {
        padding: 16px;
        position: relative;
        flex-basis: 50%;
        // width: 36%;
        text-align: center;
        &--left {
          height: 100%;
          padding: 24px;
          background-color: $main-section-left-bg;
          border-radius: 6px;
          > iconify-icon {
            font-size: 54px;
            color: $main-section-left-card;
            margin-bottom: 10px;
          }
          > h2 {
            font-size: 18px;
            margin: 0 auto 19px;
            color: #242629;
            max-width: 330px;
            font-weight: 300;
          }
          > a {
            background-color: $main-section-left-card;
            border-radius: 6px;
            text-decoration: none;
            color: white;
            max-width: 210px;
            display: inline-block;
            position: relative;
            width: 100%;
            margin-top: auto;
            padding: 12px;
            padding-left: 32px;
            padding-right: 32px;
          }
          > a:hover {
            background: #da680b;
          }
          p {
            margin: 12px 0 0;
            font-weight: 300;
            font-size: 13px;
            color: $nav-links;
            > a {
              color: #3b4044;
            }
          }
        }
        &--left::after {
          content: "";
          position: absolute;
          clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
          background: $main-section-left-bg;
          width: 32px;
          height: 32px;
          top: 92%;
          right: 16px;
          transform: scaleX(-1);
          border-radius: 0 5px 0;
        }
        &--right {
          height: 100%;
          padding: 24px;
          background-color: $main-section-right-bg;
          border-radius: 6px;
          > iconify-icon {
            color: #0a95ff;
            font-size: 54px;
            background: #acd8ff;
            border-radius: 20px;
            margin-bottom: 10px;
          }
          > h2 {
            font-size: 18px;
            margin: 0 auto 19px;
            color: #242629;
            max-width: 330px;
            font-weight: 300;
          }
          &__center-content {
            display: flex;
            color: black;
            margin: 0 auto 12px;
            max-width: 210px;
            align-items: center;
            justify-content: center;
            .line {
              width: 60px;
              height: 1px;
              background-color: #6bbbf7;
            }
            #getstarted {
              font-size: 13px;
              padding: 0 12px;
            }
          }
          &__buttons {
            display: flex;
            justify-content: center;
            a {
              text-decoration: none;
              padding: 12px;
              background: #0a95ff;
              border-radius: 6px;
              color: white;
              position: relative;
              display: inline-block;
              iconify-icon {
                font-size: 18px;
              }
            }
            > a:first-child {
              margin-right: 6px;
            }
            a:hover {
              background: #0074cc;
            }
          }
        }
        &--right::before {
          content: "";
          position: absolute;
          clip-path: polygon(18px 0, 32px 0, 0 40px, 0 38px, 0 0, 18px 0);
          background: $main-section-right-bg;
          width: 32px;
          height: 32px;
          top: 92%;
          left: 16px;
          border-radius: 0 5px 0;
        }
      }
    }
    &-title {
      text-align: center;
      color: white;
      padding: 70px 0;
      h1 {
        font-weight: 700;
        font-size: 55px;
        font-family: "Roboto Slab", "Roboto", serif;
        position: relative;
        overflow: hidden;
      }
      &__animation {
        color: $main-section-left-card;
        position: relative;
        display: inline-flex;
        width: 255px;
        height: 72px;
        white-space: nowrap;
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        .transform-words {
          position: absolute;
          top: 20%;
          animation-name: Switch;
          animation-iteration-count: infinite;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          transition: 1s all;
        }
        @keyframes Switch {
          from {
            opacity: 0;
            transform: translateY(-20px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
    &-hr {
      position: absolute;
      height: 8px;
      width: 64px;
      background-color: #6a737c;
      border-radius: 6px;
      left: 50%;
    }
    &-statistics {
      font-family: "Roboto Slab", "Roboto", serif;
      display: flex;
      color: white;
      padding: 32px 12px 64px;
      margin: 0 166px;
      max-width: 950px;
      margin: 0 auto;
      &__flex-item {
        padding: 32px 0;
        text-align: center;
        &__title {
          font-size: 21px;
          font-weight: 700;
        }
        &__desc {
          font-size: 15px;
          padding: 0 24px;
          color: #9fa6ad;
        }
      }
    }
  }
  &__left-top {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    top: 38px;
    left: 16px;
    z-index: -1;
  }
  &__left-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #0054a3;
  }
  &__left-top::after {
    content: "";
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  &__right-top {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    top: 38px;
    right: 112px;
    z-index: -1;
  }
  &__right-top::after {
    content: "";
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  &__right-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #6bbbf7;
  }
  &__left-top--in {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 64px;
    height: 64px;
    top: 170px;
    left: 150px;
  }
  &__left-top--in::after {
    content: "";
    position: absolute;
    background: #ffcc00;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }
  &__left-top--in::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #ffcc00;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__right-top--in {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 32px;
    height: 32px;
    top: 110px;
    right: 140px;
  }
  &__right-top--in::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #27348b;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__right-top--in::after {
    content: "";
    position: absolute;
    background: #27348b;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }
  &__middle-left {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 64px;
    height: 64px;
    top: 500px;
    left: -6px;
  }
  &__middle-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #48a868;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__middle-left::after {
    content: "";
    position: absolute;
    background: #48a868;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }
  &__middle-right {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    top: 500px;
    right: 2px;
  }
  &__middle-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $main;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__middle-right::after {
    content: "";
    position: absolute;
    background: $main;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }
  &__bottom-left {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 24px;
    height: 24px;
    bottom: 170px;
    left: 128px;
    z-index: 1;
  }
  &__bottom-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #aedafc;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__bottom-left::after {
    content: "";
    position: absolute;
    background: #aedafc;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }

  &__bottom-right {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 24px;
    height: 24px;
    bottom: 190px;
    right: 128px;
    z-index: 1;
  }
  &__bottom-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #e9c440;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
  }
  &__bottom-right::after {
    content: "";
    position: absolute;
    background: #e9c440;
    top: 50%;
    left: 50%;
    opacity: 0.2;
    width: 50%;
    height: 50%;
    border-radius: 0 13% 13%;
  }
}
// main section end

// Big cards

.second-section {
  max-width: 1260px;
  position: relative;
  padding: 32px;
  margin: 0 auto;
  margin-top: -290px;
  margin: o auto;
}
.big-cards {
  display: flex;
  justify-content: center;
  margin: 0 48px;
  &__card {
    margin: 16px;
    flex-basis: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    &__wrapper {
      text-align: center;
      padding: 48px 0;
      .image {
        // margin: 0 auto;
        height: 48px;
        // width: 186px;
        display: block;
        img {
          width: 187px;
          height: 31px;
          object-fit: contain;
        }
      }
      > img {
        width: 100%;
        display: block;
        height: auto;
        margin: 32px 0;
      }
      > h2 {
        margin: 0 48px 12px;
        font-size: 28px;
        font-weight: 700;
      }
      > p {
        margin: 0 48px 32px;
        color: $nav-links;
        font-size: 19px;
      }
      > a.button {
        background-color: $main-section-left-card;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        max-width: 210px;
        display: inline-block;
        position: relative;
        width: 100%;
        margin-top: auto;
        padding: 12px;
        padding-left: 32px;
        padding-right: 32px;
      }
      > a.button:hover {
        background-color: #da680b;
      }

      > p:last-child {
        margin: 12px 0 0;
        font-weight: 300;
        font-size: 13px;
        color: #838c95;
        > a {
          color: #838c95;
        }
      }
      &__right__center-content {
        display: flex;
        color: black;
        margin: 0 auto 12px;
        max-width: 210px;
        align-items: center;
        justify-content: center;
        .line {
          width: 60px;
          height: 1px;
          background-color: #6bbbf7;
        }
        #getstarted {
          font-size: 13px;
          padding: 0 12px;
        }
      }

      &__right__buttons {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          padding: 12px;
          background: #0a95ff;
          border-radius: 6px;
          color: white;
          position: relative;
          display: inline-block;
          iconify-icon {
            font-size: 18px;
          }
        }
        > a:first-child {
          margin-right: 6px;
        }
        > a:hover {
          background: #0074cc;
        }
      }
    }
  }
  &__card:first-child {
    background: linear-gradient(0deg, #fee3cd 30%, white);
  }
  &__card:last-child {
    background: linear-gradient(0deg, #cde9fe 30%, white);
  }
}

// big cards end

// Carousel
.carousel {
  margin: 48px 400px;
}
@media only screen and (min-width: 1700px) and (max-width: 1925px) {
  .carousel {
    margin: 48px 300px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1700px) {
  .carousel {
    margin: 48px 182px;
  }
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
  .carousel {
    margin: 48px 134px;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .carousel {
    margin: 48px 100px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .carousel {
    margin: 48px 70px;
  }
}
@media only screen and (max-width: 1300px) {
  .carousel {
    display: none;
  }
}
.carousel__section {
  text-align: center;
  > p {
    margin-bottom: 19px;
    font-size: 19px;
    color: #6a737c;
  }
  &__carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    > input {
      display: none;
    }
    #radio1:checked ~ .first {
      margin: 0;
    }
    #radio2:checked ~ .first {
      margin-left: -100%;
    }
    #radio3:checked ~ .first {
      margin-left: -190%;
    }
    #radio4:checked ~ .first {
      margin-left: -290%;
    }

    #radio1:checked ~ &__nav-auto > #auto-btn1 {
      background: $nav-links-hover-color;
    }
    #radio2:checked ~ &__nav-auto > #auto-btn2 {
      background: $nav-links-hover-color;
    }
    #radio3:checked ~ &__nav-auto > #auto-btn3 {
      background: $nav-links-hover-color;
    }
    #radio4:checked ~ &__nav-auto > #auto-btn4 {
      background: $nav-links-hover-color;
    }
    @keyframes Carousel {
      from {
        opacity: 0;
        transform: scale(0.7);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    &__item {
      animation: Carousel 1 2s;
      transition: 1s;
      display: flex;
      min-width: 1246px;
      padding: 30px 250px;
      align-items: center;
      > img {
        margin: 0 auto;
      }
      > img#barkbox {
        width: 120px;
        height: 27px;
      }
      > img#bloomberg {
        width: 175px;
        height: 32px;
      }
      > img#box {
        width: 65px;
        height: 35px;
      }
      > img#chevron {
        width: 49px;
        height: 55px;
      }

      //

      > img#dialpad {
        width: 187px;
        height: 36px;
      }
      > img#expensify {
        width: 165px;
        height: 37px;
      }
      > img#instacart {
        width: 185px;
        height: 37px;
      }
      > img#intercom {
        width: 140px;
        height: 35px;
      }

      //
      > img#logitech {
        width: 139px;
        height: 32px;
      }
      > img#microsoft {
        width: 165px;
        height: 41px;
      }
      > img#overstock {
        width: 181px;
        height: 32px;
      }
      > img#philips {
        width: 136px;
        height: 25px;
      }
      //
      > img#verizon {
        width: 103px;
        height: 45px;
      }
      > img#wisetech {
        width: 140px;
        height: 43px;
      }
    }
    &__nav-auto {
      position: absolute;
      bottom: 6px;
      left: 50%;
      display: flex;
      > div {
        background: #babfc4;
        width: 24px;
        height: 6px;
        border-radius: 1000px;
        cursor: pointer;
      }
      > div:not(:last-child) {
        margin-right: 3px;
      }
    }
    &__nav-manual {
      display: flex;
      position: absolute;
      bottom: 6px;
      left: 50%;
      .manual-btn {
        background: transparent;
        width: 24px;
        height: 6px;
        border-radius: 1000px;
        cursor: pointer;
      }
      .manual-btn:not(:last-child) {
        margin-right: 3px;
      }
      .manual-btn:hover {
        background: #838c95;
      }
    }
  }
}

// Carousel end

// stack team
.for-teams {
  max-width: 1950px;
  padding: 48px;
  position: relative;
  .stack-forteams {
    position: relative;
    &__images {
      max-width: 1160px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px;
      margin: 0 auto;
      margin-bottom: calc(128px * -1);

      &--image {
        flex-basis: 33.33333333%;
        z-index: -1;

        > img {
          height: auto;
          width: 100%;
          max-width: 100%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          display: block;
          border-top: 1px solid $main;
          border-radius: 6px;
        }
      }
      &--image:nth-child(2) {
        flex-basis: 50%;
        z-index: 1;
        margin: -12px;
        position: relative;
      }
    }
    &__main {
      background: linear-gradient(180deg, #252729 0%, $nav-links 130%);
      border-radius: 10px;
      padding: 128px 0 92px;
      &__features {
        text-align: center;
        color: white;
        padding-top: 24px;
        margin: 0 auto;
        max-width: 1000px;
        > img {
          width: 186px;
          height: 46px;
          object-fit: cover;
          margin-bottom: 32px;
        }
        > p:first-of-type {
          margin: 0 auto 32px;
          font-size: 27px;
          font-weight: 700;
          max-width: 620px;
          > span {
            color: $main;
          }
        }
        > a {
          padding: 12px 32px;
          background: #0a95ff;
          border-radius: 6px;
          text-decoration: none;
          color: white;
        }
        > a:hover {
          background: #0074cc;
        }
        &__all {
          display: flex;
          padding-top: 64px;
          margin: -24px;
          margin-bottom: 64px;
          justify-content: center;
          &--feature {
            opacity: 0;
            margin: 24px;
            flex-basis: 300px;
            > iconify-icon {
              margin-bottom: 12px;
            }
            > h3 {
              font-size: 21px;
              font-weight: 600;
            }
            > p {
              font-size: 17px;
              color: #9ea5ad;
              margin-bottom: 17px;
            }
          }
          .animation-fade-in {
            animation: FadeIn 0.7s 1 forwards;
            transition: 0.1s all;
          }
          @keyframes FadeIn {
            0% {
              transform: skew(0);
              opacity: 0;
            }
            100% {
              transform: skew(1);
              opacity: 1;
            }
          }
        }
        > h2 {
          font-weight: 700;
          margin-bottom: 12px;
          padding-top: 64px;
          font-size: 34px;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
        > p {
          margin-bottom: 19px;
          font-size: 19px;
          font-weight: 300;
        }
      }
      &__professions {
        overflow: auto;
        display: flex;
        &__all {
          max-width: 1050px;
          display: flex;
          align-items: center;
          text-align: center;
          color: white;
          padding-top: 32px;
          // margin: -6px 146px 128px;
          margin: -6px;
          margin-bottom: 128px;
          margin-left: auto;
          margin-right: auto;
          justify-content: center;
          &__profession {
            margin: 6px;
            padding: 32px 0;
            height: max-content;
            > iconify-icon {
              font-size: 100px;
              color: #9fa6ad;
              margin: 0 32px;
            }
            > h3 {
              font-size: 21px;
              font-weight: 610;
              padding: 24px 32px 0;
              margin-bottom: 12px;
            }
            p {
              display: none;
              padding: 0 32px;
              margin-bottom: 17px;
            }
          }
          &__profession:hover {
            background-color: $nav-links-hover-color;
            border-radius: 6px;
            cursor: pointer;
          }
          &__profession.box {
            background-color: #3b4045;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            padding: 32px 0;
            min-width: 20rem;
            > iconify-icon {
              color: #0a95ff;
              box-shadow: 2px 1px 5px#0a95ff;
              border-radius: 50%;
            }
            > p {
              display: block;
            }
          }
        }
      }
      &__professions::-webkit-scrollbar {
        height: 10px;
      }
      &__professions::-webkit-scrollbar-thumb {
        background: #25292c;
        border-radius: 10px;
      }

      &__prices {
        padding: 0 24px;
        max-width: 1450px;
        margin: 0 auto;
        margin-bottom: 32px;
        &__all {
          padding-bottom: 32px;
          &__switch {
            display: flex;
            margin-bottom: 24px;
            align-items: center;
            > label {
              color: white;

              margin-right: 8px;
            }
            &--toggle {
              position: relative;
              > input {
                position: absolute;
                left: 10px;
              }
              &--indicator {
                position: relative;
                width: 44px;
                height: 24px;
                background: #9fa6ad;
                border-radius: 20px;
                transition: 0.2s all;
              }
              &--indicator::after {
                content: "";
                width: 42%;
                height: 76%;
                background-color: white;
                position: absolute;
                border-radius: 50px;
                left: var(--pl, 4px);
                top: 3px;
              }
            }
          }
          &__cards {
            display: flex;
            margin: -12px;
            margin-left: -32px;
            margin-right: -32px;
            justify-content: center;
            flex-flow: row wrap;
            &__card {
              display: flex;
              min-width: 303px;
              flex-direction: column;
              background: white;
              margin: 12px;
              border: 1px solid $nav-links-hover-bg;
              border-radius: 8px;
              position: relative;
              flex-basis: calc(25% - (24px));

              .recommended {
                position: absolute;
                left: 0;
                bottom: 100%;
                right: 0;

                padding: 8px 16px;
                font-size: 13px;
                color: #2f3337;
                background-color: #f1f2f3;
                display: flex;
                font-weight: 600;
                justify-content: space-between;
                border-radius: 8px 8px 0 0;
                > iconify-icon {
                  font-size: 18px;
                }
              }

              &--into {
                padding: 24px;
                display: flex;
                flex-direction: column;
                height: 100%;
                h2 {
                  padding: 4px 8px;
                  margin-bottom: 17px;
                  font-size: 17px;
                  align-self: flex-start;
                  border-radius: 4px;
                }
                .first {
                  background: $main;
                  color: white;
                }
                .first-a {
                  background: $main;
                  color: white;
                }
                .second {
                  background: #c8ccd0;
                }
                .second-a {
                  background: #c8ccd0;
                  color: #1c3c52;
                }
                > .third {
                  color: white;
                  background: #3b4045;
                }
                .third-a {
                  background: #3b4045;
                  color: white;
                }
                .fourth {
                  color: white;
                  background: #292d6e;
                }
                .fourth-a {
                  background: #292d6e;
                  color: white;
                }
                .free {
                  border-bottom: 1px solid;
                  margin-bottom: 24px;
                  padding-bottom: 24px;
                  border-color: $nav-links-hover-bg;
                  > p {
                    margin-bottom: 6px;
                    padding-top: 12px;
                    font-size: 27px;
                    font-weight: 600;
                    font-family: serif;
                  }
                  > span {
                    color: #9199a1;
                    font-size: 15px;
                  }
                }
                .options {
                  display: flex;
                  align-items: center;
                  margin-bottom: 12px;
                  > .icon {
                    margin-right: 12px;
                    > iconify-icon {
                      font-size: 20px;
                      color: #2f3337;
                    }
                  }
                  p {
                    font-size: 15px;
                    color: #2f3337;
                    margin: 0;
                  }
                }
                .button {
                  margin-top: auto;
                  > a {
                    padding: 12px 32px;
                    text-decoration: none;
                    border-radius: 6px;
                    margin-top: 24px;
                    display: block;
                    text-align: center;
                  }
                }
                > p {
                  padding-top: 12px;
                  font-size: 15px;
                  color: #9fa6ad;
                  text-align: center;
                  margin-bottom: 0;
                }
              }
            }
            &__card:nth-child(3) {
              border-radius: 5px;
              // &--into {
              //   > .options {
              //     height: 200px;
              //   }
              // }
            }
          }
        }
      }
      &__advantages {
        display: flex;
        flex-flow: row wrap;
        margin: -12px;
        margin-bottom: 32px;
        padding: 0 24px;
        max-width: 1217px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        &__flex-item {
          margin: 12px;
          flex-basis: calc(25% - (24px));
          min-width: 210px;
          &__advantage {
            border: 1px solid #ffffff1a;
            border-radius: 5px;
            padding: 24px;
            // margin: 0 10px;
            height: 100%;
            display: block;
            text-align: center;

            > span {
              color: white;
              font-size: 17px;
            }
            > strong {
              color: #0a95ff;
              font-size: 21px;
            }
            > a {
              text-decoration: none;
              > span:first-child {
                font-size: 18px;
                color: white;
              }
              > span:last-child {
                display: inline-block;
                font-size: 15px;
                padding: 8px 34px;
                margin-top: 16px;
                color: #379fef;
                border: 1px solid #379fef;
                background: transparent;
                border-radius: 5px;
              }
            }
          }
          &__advantage:last-child:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            cursor: pointer;
            > a:hover {
              span:last-child {
                background: #3b4045;
              }
            }
          }
        }
      }
      &__improve {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -16px;
        &__flex-item {
          color: white;
          text-align: center;
          margin: 16px;
          > a {
            text-decoration: none;
            color: white;
            font-size: 19px;
            display: block;
            max-width: 360px;
            margin-left: auto;
            > img {
              max-width: 100%;
              height: auto;
            }
          }
          &__subheading:last-child {
            margin-left: 32px;
            > iconify-icon {
              margin-right: 6px;
              font-size: 24px;
            }
          }
          &__subheading:first-child {
            margin: 0 96px 8px 0;
          }
          > h2 {
            font-size: 34px;
            margin-bottom: 12px;
            font-weight: bold;
            font-weight: 700;
            font-family: "Roboto Slab";
          }
          > p {
            font-size: 19px;
            color: #babfc4;
            max-width: 690px;
            margin: 0 auto 32px;
            > a {
              color: #0a95ff;
              text-decoration: none;
            }
          }
          &__communities {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-flow: row wrap;
            margin: -8px;
            > a {
              // position: relative;
              background: white;
              margin: 8px;
              font-size: 48px;
              display: flex;
              border-radius: 6px;
              padding: 10px;
              > iconify-icon {
                color: #027dc1;
              }
            }
            &--pop-over {
              display: none;
              position: absolute;
              padding: 12px;
              border-radius: 6px;
              background: white;
              color: black;
              top: -48px;
              box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

              &--arrow::after {
                content: "";
                width: 12px;
                height: 12px;
                position: absolute;
                background-color: white;
                transform: rotate(45deg);
                // bottom: -20px;
                // left: 324px;
                z-index: 1;
              }
              &--arrow::before {
                content: "";
                width: 12px;
                height: 12px;
                position: absolute;
                background-color: white;
                transform: rotate(45deg);
                // bottom: -18px;
                // left: 324px;
                border: 1px solid#d7d9dc;
              }
            }
            // > a:hover {
            //   #slack {
            //     display: block;
            //     transform: translateX(-170px);
            //   }
            //   #microsoft {
            //     display: block;
            //     transform: translateX(-78px);
            //   }
            //   #Github {
            //     display: block;
            //     transform: translateX(0px);
            //   }
            //   #jira {
            //     display: block;
            //     transform: translateX(86px);
            //   }
            //   #okta {
            //     display: block;
            //     transform: translateX(170px);
            //   }
            // }
          }
        }
        &__flex-item:nth-child(2) {
          flex-basis: calc(50% - (44px));
        }
      }
      &__tier {
        color: #babfc4;
        font-size: 19px;
        margin-top: 32px;
        padding-bottom: 32px;
        text-align: center;
      }
    }
  }
  .for-teams__top-left {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .for-teams__top-left::after {
    content: "";
    position: absolute;
    background: #ffcc00;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  .for-teams__top-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #ffcc00;
  }
  .for-teams__top-right {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 64px;
    height: 64px;
    top: 130px;
    right: 0;
    z-index: -1;
  }
  .for-teams__top-right::after {
    content: "";
    position: absolute;
    background: #f48225;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  .for-teams__top-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #f48225;
  }
  .for-teams__bottom-left {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 64px;
    height: 64px;
    bottom: 64px;
    left: 120px;
  }
  .for-teams__bottom-left::after {
    content: "";
    position: absolute;
    background: #0a95ff;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  .for-teams__bottom-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #0a95ff;
  }
  .for-teams__bottom-right {
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    bottom: 150px;
    right: 20px;
  }
  .for-teams__bottom-right::after {
    content: "";
    position: absolute;
    background: #5eba7d;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    border-radius: 0 13% 13%;
  }
  .for-teams__bottom-right::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 13% 13% 0;
    background: #5eba7d;
  }
}

// team end

.tiers {
  flex-flow: row wrap;
  justify-content: center;
  max-width: calc(80.230769rem / 12 * 10);
  margin: 0 auto;
  margin-top: calc(96px * -1);
  position: relative;
  display: flex;
  padding: 0 24px;
  &__cover {
    opacity: 0;
    min-width: 226px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    text-align: center;
    flex-basis: 25%;

    &__tier {
      padding: 24px;
      margin: 12px;
      font-size: 20px;
      background: #d6d9dc;
      border-color: #c8ccd0;
      border-radius: 6px;
      color: #25272a;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      > iconify-icon {
        color: #28358b;
        width: max-content;
        font-size: 48px;
        display: block;
        margin: 0 auto 12px auto;
      }
    }
  }
}
.quotes-p-m {
  padding-bottom: 128px !important;
  padding-top: 64px !important;
}
// Quotes
.quotes {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 64px;

  display: flex;
  flex-flow: wrap;
  justify-content: center;

  &__quote {
    width: 100%;
    padding: 24px;
    color: $nav-links-hover-color;
    flex-basis: 25%;
    min-width: 308px;
    > iconify-icon {
      font-size: 48px;
      color: #0495ff;
      margin-bottom: 16px;
    }
    > p {
      color: $nav-links;
      margin-bottom: 32px;
      font-size: 17px;
    }
    &--from {
      color: $nav-links;
      strong {
        font-weight: 600;
        border-top: 1px solid #e2e6e7;
        color: #3b4045;
        padding-top: 16px;
      }
    }
  }
}

// quotes end
// additional

.additional {
  padding-bottom: 128px;
  background-image: url("https://cdn.sstatic.net/Img/home/illo-about-left.png?v=586391c9162b"),
    url("https://cdn.sstatic.net/Img/home/illo-about-right.png?v=209eaa986298");
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 0;
  background-size: 27% auto;
  text-align: center;

  &__image {
    width: 187px;
    height: 70px;

    padding-bottom: 32px;
    margin-bottom: 12px;
    border-bottom: 1px solid $nav-links-hover-bg;
    display: inline-block;
    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  h2 {
    padding: 24px 24px 0;
    text-align: center;
    font-size: 27px;
    max-width: 560px;
    margin: 0 auto;
    font-weight: 500;
  }
  &__companies {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 32px;
    max-width: 850px;
    > a {
      flex-basis: 45%;
      text-align: center;
      margin: 16px;
      padding: 32px 24px;
      color: #6a737c;
      text-decoration: none;
      background-color: #fff;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      > img {
        object-fit: cover;
        width: 158px;
        height: 30px;
        margin-bottom: 24px;
      }
      > p {
        font-size: 19px;
        margin-bottom: 0;
      }
    }
    a:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  > a {
    text-decoration: none;
    padding: 12px 32px;
  }
  > a:first-of-type {
    background: $main-section-left-card;
    color: white;
    border-radius: 6px;
    font-weight: 600;
  }
  > a:first-of-type:hover {
    background: #da680b;
  }
  > a:last-child {
    color: #838c95;
    > span {
      color: #0a95ff;
    }
  }
  > a:last-child:hover {
    background: #f1f2f3;
    border-radius: 6px;
  }
}

//additional end

// stack exchange
.exchange {
  background: $exchange-bg;
  border-radius: 14px;
  overflow: hidden;
  margin: 48px;
  margin-bottom: 0;
  margin-top: -96px;
  padding: 32px 0 96px;
  clip-path: url(#myCurve);
  transform: rotate(180deg);
  // clip-path: polygon(
  //   100% 0%,
  //   30% 3%,
  //   77% 3%,
  //   0% 0%,
  //   0% 25%,
  //   0% 53%,
  //   0% 79%,
  //   0% 100%,
  //   38% 100%,
  //   60% 100%,
  //   72% 100%,
  //   100% 100%,
  //   100% 52%,
  //   100% 25%
  // );
  &__all {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    transform: rotate(180deg);
    flex: 1 auto;
    &__flex-item {
      position: relative;
      text-align: center;
      color: white;
      flex: 1 auto;
      > img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(-1);
      }
      &__item {
        // height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        z-index: 1;
        width: 310px;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        > a#command {
          width: 128px;
          height: 128px;
        }
        > a#Unix {
          width: 64px;
          height: 64px;
        }
        > a#Artificial {
          width: 64px;
          height: 64px;
        }
        > a#Softwareeng {
          width: 64px;
          height: 64px;
        }
        > a#Ubuntu {
          width: 128px;
          height: 128px;
        }
        > a#Salesforce {
          width: 64px;
          height: 64px;
        }
        //
        > a#Fault {
          width: 96px;
          height: 96px;
        }
        > a#Super {
          width: 64px;
          height: 64px;
        }
        > a#Administrator {
          width: 64px;
          height: 64px;
        }
        > a#Quantum {
          width: 128px;
          height: 128px;
        }
        > a#Game {
          width: 64px;
          height: 64px;
        }
        > a#Networkeng {
          width: 96px;
          height: 96px;
        }
        > a {
          margin: 24px;
          padding: 16px;
          background-color: #fff;

          border-radius: 6px;

          display: flex;
          > img {
            max-width: 100%;
            height: auto;
            margin: auto;
          }
        }
        &--popover {
          display: none;
        }
      }
      &__image {
        margin-bottom: 32px;
        padding-bottom: 32px;
        display: inline-block;
        border-bottom: 1px solid #0054a3;
        text-align: center;

        > img {
          width: 147px;
          height: 35px;
          object-fit: cover;
        }
      }
      h2 {
        font-size: 34px;
        font-family: "Roboto Slab", serif;
        margin: 0 auto 24px;
        font-weight: 500;
        max-width: 560px;
      }
      p {
        margin: 0 auto 32px;
        max-width: 666px;
        font-size: 19px;
        > a {
          color: #6bbbf7;
          text-decoration: none;
        }
      }
      > a {
        padding: 12px 32px;
        background: #ffb500;
        color: black;
        border-radius: 6px;
        text-decoration: none;
        font-weight: 600;
      }
      > a:hover {
        background: #f1ab00;
      }
    }
    &__flex-item:nth-child(2) {
      padding: 64px 32px;
      min-width: calc((97.2307692rem / 11) * 5);
    }
    &__flex-item:nth-child(odd) {
      display: flex;
    }
  }
}
// stack exchange end

.private-community {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px 0;
  margin: 32px 0;
  > iconify-icon {
    font-size: 48px;
  }
  p {
    margin: 16px 24px;
    font-size: 17px;
  }
  a {
    text-decoration: none;
    padding: 12px 32px;
    color: #0074cb;
    border: 1px solid #379fef;
    border-radius: 6px;
    font-weight: 600;
  }
  a:hover {
    background: #f0f8ff;
    color: #0063bf;
  }
}
.anime-card {
  transition: 0.2s ease-in all;
  animation: CardFadeIn 1 forwards 0.5s;
}

@keyframes CardFadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
