$main: #f2740d;
$nav-links: #525960;
$nav-links-hover-bg: #e3e6e8;
$nav-links-hover-color: #232629;
$nav-search-icon: #838c95;
$nav-color: #f8f9f9;
$main-section-left-bg: #fee3cd;
$main-section-right-bg: #cde9fe;
$main-section-left-card: #f2740e;
$exchange-bg: #004585;
$footer-bg: #242629;
$footer-color: #9199a1;
$footer-links: #8f979f;
$about-nav-bg: #f1f2f3;
$a-color: #0074cc;
$border-color: #babfc4;
