@model Question



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/assets/Images/Logo/apple-touch-icon@2.png"
          type="image/x-icon" />
    <title>Ask a Question - Stack Overflow</title>
    <link rel="stylesheet" href="~/assets/css/style.css" />

    <style>
        .tagSing {
            font-size: 13px;
            display: inline-block;
            padding: 0.4em 0.5em;
            margin: 2px 2px 2px 0;
            line-height: 1;
            white-space: nowrap;
            text-decoration: none;
            text-align: center;
            border-radius: 3px;
            color: #39739d;
            background-color: #e1ecf4;
        }

        .spnX {
            width: 14px;
            height: 14px;
            vertical-align: middle;
            display: inline-block;
            background-position: -40px -340px;
            cursor: pointer;
            margin-left: 3px;
            margin-top: -2px;
            margin-bottom: -1px;
            background-image: url(https://cdn.sstatic.net/Img/unified/sprites.svg?v=fcc0ea44ba27);
            background-size: initial;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    </style>

</head>
<body>

    <main>
        <div class="ask-question">
            <div class="ask-question__container">
                <div class="ask-question__container__top">
                    <div class="ask-question__container__top--title">
                        <label for="opt-switch"> Ask a question in </label>
                        <div class="ask-question__container__top--title--into">
                            <div class="ask-question__container__top--title--into__select">
                                <select name="" id="opt-switch">
                                    <option value="" selected>Public Q&A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ask-question__container__steps-md d-md-block">
                    <div class="ask-question__container__steps-md__body">
                        <div class="ask-question__container__steps-md__body__in">
                            <div class="ask-question__container__steps-md__body__in__top">
                                <button class="ask-question__container__steps-md__body__in__top__button">
                                    <div class="ask-question__container__steps-md__body__in__top__button__flex-item">
                                        Step 1: Draft your question
                                    </div>
                                    <div class="ask-question__container__steps-md__body__in__top__button__flex-item">
                                        <div class="ask-question__container__steps-md__body__in__top__button__flex-item--arrow-up">
                                            <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                        </div>
                                        <div class="ask-question__container__steps-md__body__in__top__button__flex-item--arrow-down">
                                            <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                        </div>
                                    </div>
                                </button>
                            </div>
                            <div class="ask-question__container__steps-md__body__in__toggle">
                                <div class="ask-question__container__steps-md__body__in__toggle__content">
                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into">
                                        <div class="ask-question__container__steps-md__body__in__toggle__content--into__title">
                                            <p>
                                                The community is here to help you with specific
                                                coding, algorithm, or language problems.
                                            </p>
                                            <p>Avoid asking opinion-based questions.</p>
                                        </div>
                                        <ul class="ask-question__container__steps-md__body__in__toggle__content--into__ul">
                                            <li class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li">
                                                <button class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name">
                                                        <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name--icon">
                                                            <iconify-icon icon="fa6-solid:1"></iconify-icon>
                                                        </div>
                                                        <span>Summarize the problem</span>
                                                    </div>
                                                    <div>
                                                        <div class="arrow-up">
                                                            <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                        </div>
                                                        <div class="arrow-down">
                                                            <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc__into">
                                                        <ul>
                                                            <li>
                                                                <p>Include details about your goal</p>
                                                            </li>
                                                            <li>
                                                                <p>Describe expected and actual results</p>
                                                            </li>
                                                            <li>
                                                                <p>Include any error messages</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li">
                                                <button class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name">
                                                        <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name--icon">
                                                            <iconify-icon icon="fa6-solid:2"></iconify-icon>
                                                        </div>
                                                        <span>Describe what you've tried</span>
                                                    </div>
                                                    <div>
                                                        <div class="arrow-up">
                                                            <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                        </div>
                                                        <div class="arrow-down">
                                                            <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc__into">
                                                        Show what you've tried and tell us what you found
                                                        (on this site or elsewhere) and why it didn't meet
                                                        your needs. You can get better answers when you
                                                        provide research.
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li">
                                                <button class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name">
                                                        <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__button--name--icon">
                                                            <iconify-icon icon="fa6-solid:3"></iconify-icon>
                                                        </div>
                                                        <span>Show some code</span>
                                                    </div>
                                                    <div>
                                                        <div class="arrow-up">
                                                            <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                        </div>
                                                        <div class="arrow-down">
                                                            <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                        </div>
                                                    </div>
                                                </button>
                                                <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc">
                                                    <div class="ask-question__container__steps-md__body__in__toggle__content--into__ul__li__desc__into">
                                                        When appropriate, share the minimum amount of code
                                                        others need to reproduce your problem (also called
                                                        a
                                                        <a href="#" target="_blank">minimum, reproducible example</a>)
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ask-question__container__main flex-lg-col ai-stretch-816">
                    <div class="ask-question__container__main__left">
                        <div class="ask-question__container__main__left__confirm">
                            <div class="ask-question__container__main__left__confirm__input">
                                <input type="checkbox" style="appearance:revert;" id="ask-public" />
                            </div>
                            <label for="ask-public">
                                Confirm this is a <span>public question</span> in order to
                                post it.
                                <p>
                                    Please do not post any private Team information. Even in
                                    draft mode, content and images may be made publicly
                                    available if you proceed.
                                </p>
                            </label>
                        </div>
                        <form class="ask-question__container__main__left__form" method="post">
                            <div class="ask-question__container__main__left__form__question">
                                <div class="ask-question__container__main__left__form__question__into">
                                    <div class="post-title">
                                        <div class="post-title__flex">
                                            <label for="title">
                                                Title
                                                <div class="flex-item">
                                                    <p>
                                                        Be specific and imagine you're asking a question
                                                        to another person
                                                    </p>
                                                    <div></div>
                                                </div>
                                            </label>
                                            <div class="post-title__flex__desc">
                                                <input asp-for="Title"
                                                       placeholder="e.g. Is there an R function for finding the index of an element in a vector?" />
                                                <span asp-validation-for="Title"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-editor">
                                        <div class="post-editor__into">
                                            <label for="wmd-input">
                                                Body
                                                <p>
                                                    Include all the information someone would need to
                                                    answer your question
                                                </p>
                                            </label>
                                            <div class="post-editor__into__main">
                                                <div class="post-editor__into__main__button-bar">
                                                    <ul>
                                                        <li title="Strong <strong> Ctrl+B">
                                                            <span style="background-position: 0px 0px"></span>
                                                        </li>
                                                        <li title="Emphasis <em> Ctrl+I">
                                                            <span style="background-position: -20px 0px"></span>
                                                        </li>
                                                        <li class="space"></li>
                                                        <li title="Hyperlink <a> Ctrl+L">
                                                            <span style="background-position: -40px 0px"></span>
                                                        </li>
                                                        <li title="Blockquote <blockquote> Ctrl+Q">
                                                            <span style="background-position: -60px 0px"></span>
                                                        </li>
                                                        <li title="Code Sample <pre><code> Ctrl+K">
                                                            <span style="background-position: -80px 0px"></span>
                                                        </li>
                                                        <li title="Image <img> Ctrl+G">
                                                            <span style="background-position: -100px 0px"></span>
                                                        </li>
                                                        <li class="space"></li>
                                                        <li title="Numbered List <ol> Ctrl+O">
                                                            <span style="background-position: -120px 0px"></span>
                                                        </li>
                                                        <li title="Bulleted List <ul> Ctrl+U">
                                                            <span style="background-position: -140px 0px"></span>
                                                        </li>
                                                        <li title="Heading <h1>/<h2> Ctrl+H">
                                                            <span style="background-position: -160px 0px"></span>
                                                        </li>
                                                        <li title="Horizontal Rule <hr> Ctrl+R">
                                                            <span style="background-position: -180px 0px"></span>
                                                        </li>
                                                        <li class="space"></li>
                                                        <li title="Undo - Ctrl+Z">
                                                            <span style="background-position: -200px -20px"></span>
                                                        </li>
                                                        <li title="Redo - Ctrl+Shift+Z">
                                                            <span style="background-position: -220px -20px"></span>
                                                        </li>
                                                        <li class="space" style="max-width: none"></li>
                                                        <li>
                                                            <span style="background-position: -240px 0px"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="post-editor__into__main__validation">
                                                    <div class="post-editor__into__main__validation__ps-relative">
                                                        <textarea asp-for="Desc"
                                                                  cols="92"
                                                                  rows="15"></textarea>
                                                        <iconify-icon icon="bi:exclamation-circle-fill"></iconify-icon>
                                                    </div>
                                                    <span asp-validation-for="Desc" class="alert alert-danger"></span>
                                                </div>
                                                <textarea asp-for="Code" style=" width: 100%; border: 1px solid #e3e3e3;resize:vertical;outline:none " cols="60" rows="10" placeholder="Your Code"></textarea>
                                                <span asp-validation-for="Code"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tag-editor">
                                        <div class="tag-editor__relative">
                                            <div class="tag-editor__relative__into">
                                                <div class="tag-editor__relative__into__flex">
                                                    <label for="">
                                                        Tags
                                                        <div>
                                                            Add up to 5 tags to describe what your question
                                                            is about
                                                        </div>
                                                    </label>
                                                    <button>
                                                        <iconify-icon icon="ant-design:question-circle-filled"></iconify-icon>
                                                    </button>
                                                </div>
                                                <div class="tag-editor__relative__into__flex">
                                                    <div class="tag-editor__relative__into__flex__into">
                                                        <input type="text"
                                                               placeholder="e.g. (typescript database string)" />
                                                        <div style="display:flex;flex-wrap:wrap;" class="tag-editor__relative__into__flex__into--content">


                                                            <span class="Tags" id="Tags">

                                                            </span>
                                                            
                                                            <input  id="search-tag" type="text"
                                                                   placeholder="e.g. (typescript database string)" />
                                                            <input  type="hidden" />

                                                            <span asp-validation-for="Tags" style="color:red"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="validation-message"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ask-question__container__main__left__form__buttons">
                                <div class="ask-question__container__main__left__form__buttons__flex">
                                    <button type="submit">Add Question</button>
                                    <button>Discard draft</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ask-question__container__main__right">
                        <div class="ask-question__container__main__right__into d-md-none">
                            <div class="ask-question__container__main__right__into--sidebarwidget">
                                <div class="ask-question__container__main__right__into--sidebarwidget__header">
                                    Step 1: Draft your question
                                </div>
                                <div class="ask-question__container__main__right__into--sidebarwidget__main">
                                    <div>
                                        <p>
                                            The community is here to help you with specific coding,
                                            algorithm, or language problems.
                                        </p>
                                        <p>Avoid asking opinion-based questions.</p>
                                    </div>
                                    <ul class="ask-question__container__main__right__into--sidebarwidget__main__ul">
                                        <li class="ask-question__container__main__right__into--sidebarwidget__main__ul__li">
                                            <button class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name">
                                                    <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name--icon">
                                                        <iconify-icon icon="fa6-solid:1"></iconify-icon>
                                                    </div>
                                                    <span>Summarize the problem</span>
                                                </div>
                                                <div>
                                                    <div class="arrow-up">
                                                        <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                    </div>
                                                    <div class="arrow-down display-none">
                                                        <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc display-none">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc__into">
                                                    <ul>
                                                        <li>
                                                            <p>Include details about your goal</p>
                                                        </li>
                                                        <li>
                                                            <p>Describe expected and actual results</p>
                                                        </li>
                                                        <li>
                                                            <p>Include any error messages</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="ask-question__container__main__right__into--sidebarwidget__main__ul__li">
                                            <button class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name">
                                                    <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name--icon">
                                                        <iconify-icon icon="fa6-solid:2"></iconify-icon>
                                                    </div>
                                                    <span>Describe what you've tried</span>
                                                </div>
                                                <div>
                                                    <div class="arrow-up">
                                                        <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                    </div>
                                                    <div class="arrow-down display-none">
                                                        <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc display-none">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc__into">
                                                    Show what you've tried and tell us what you found
                                                    (on this site or elsewhere) and why it didn't meet
                                                    your needs. You can get better answers when you
                                                    provide research.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="ask-question__container__main__right__into--sidebarwidget__main__ul__li">
                                            <button class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name">
                                                    <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__button--name--icon">
                                                        <iconify-icon icon="fa6-solid:3"></iconify-icon>
                                                    </div>
                                                    <span>Show some code</span>
                                                </div>
                                                <div>
                                                    <div class="arrow-up">
                                                        <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                                    </div>
                                                    <div class="arrow-down display-none">
                                                        <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc display-none">
                                                <div class="ask-question__container__main__right__into--sidebarwidget__main__ul__li__desc__into">
                                                    When appropriate, share the minimum amount of code
                                                    others need to reproduce your problem (also called a
                                                    <a href="#" target="_blank">minimum, reproducible example</a>)
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ask-question__container__main__right__into--sidebarwidget">
                                <div class="ask-question__container__main__right__into--sidebarwidget__header">
                                    <button type="button">
                                        <div>Have a non-programming question?</div>
                                        <div class="arrows">
                                            <div class="up">
                                                <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                            </div>
                                            <div class="down">
                                                <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="ask-question__container__main__right__into--sidebarwidget__other-sites">
                                    <div class="ask-question__container__main__right__into--sidebarwidget__other-sites__content">
                                        <div class="ask-question__container__main__right__into--sidebarwidget__other-sites__content__into">
                                            <p>
                                                <a href="">Super user</a>

                                                Troubleshooting hardware and software issues
                                            </p>
                                            <p>
                                                <a href="">Software engineer</a>

                                                For software development methods and process questions
                                            </p>
                                            <p>
                                                <a href="">Hardware recommendations</a>
                                            </p>
                                            <p>
                                                <a href="">Software recommendations</a>
                                            </p>
                                            <p>
                                                Ask questions about the site on
                                                <a href="" target="_blank">meta</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ask-question__container__main__right__into--sidebarwidget">
                                <div class="ask-question__container__main__right__into--sidebarwidget__header">
                                    <button type="button">
                                        <div>More helpful links</div>
                                        <div class="arrows">
                                            <div class="up">
                                                <iconify-icon icon="dashicons:arrow-up-alt2"></iconify-icon>
                                            </div>
                                            <div class="down">
                                                <iconify-icon icon="dashicons:arrow-down-alt2"></iconify-icon>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                                <div class="ask-question__container__main__right__into--sidebarwidget__more-links">
                                    <div class="ask-question__container__main__right__into--sidebarwidget__more-links__content">
                                        <div class="ask-question__container__main__right__into--sidebarwidget__more-links__content__into">
                                            <p>
                                                Find more information about
                                                <a href="">how to ask a good question here</a>
                                            </p>
                                            <p>Visit the <a href="">help center</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- footer -->
    <footer class="footer">
        <div class="footer__container p-md-24 p-sm-16">
            <div class="footer__container__logo d-640-none">
                <a href="Index.html">
                    <img src="~/assets/Images/Logo/apple-touch-icon@2.png"
                         alt="Stack Overflow Logo" />
                </a>
            </div>
            <div class="footer__container__nav flex-lg-col">
                <div class="footer__container__nav--col">
                    <h5 class="mb-md-8">
                        <a href="Index.html">Stack Overflow</a>
                    </h5>
                    <ul class="nav-md-ul">
                        <li><a href="">Questions</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
                <div class="footer__container__nav--col">
                    <h5 class="mb-md-8">
                        <a href="Index.html">Products</a>
                    </h5>
                    <ul class="nav-md-ul">
                        <li><a href="">Teams</a></li>
                        <li><a href="">Advertising</a></li>
                        <li><a href="">Collectives</a></li>
                        <li><a href="">Talent</a></li>
                    </ul>
                </div>
                <div class="footer__container__nav--col">
                    <h5 class="mb-md-8">
                        <a href="Index.html">Company</a>
                    </h5>
                    <ul class="nav-md-ul">
                        <li><a href="">About</a></li>
                        <li><a href="">Press</a></li>
                        <li><a href="">Work Here</a></li>
                        <li><a href="">Legal</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Cookie Settings</a></li>
                        <li><a href="">Cookie Policy</a></li>
                    </ul>
                </div>
                <div class="footer__container__nav--col">
                    <h5 class="mb-md-8">
                        <a href="Index.html">STACK EXCHANGE NETWORK</a>
                    </h5>
                    <ul class="nav-md-ul">
                        <li><a href="">Technology</a></li>
                        <li><a href="">Culture & recreation</a></li>
                        <li><a href="">Life & arts</a></li>
                        <li><a href="">Science</a></li>
                        <li><a href="">Professional</a></li>
                        <li><a href="">Business</a></li>
                        <li class="mt-3"><a href="">API</a></li>
                        <li><a href="">Data</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__container__copyright">
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="https://www.facebook.com">Facebook</a></li>
                    <li><a href="https://www.twitter.com">Twitter</a></li>
                    <li><a href="https://www.LinkedIn.com">LinkedIn</a></li>
                    <li><a href="https://www.Instagram.com">Instagram</a></li>
                </ul>
                <p>
                    Site design / logo © 2022 Stack Exchange Inc; user contributions
                    licensed under
                    <span>
                        <a href="">CC BY-SA</a>
                    </span>
                    . <span>rev 2022.9.1.42957</span>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</body>
<!-- Jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="~/assets/js/script.js"></script>
<script src="~/assets/js/sections/ask-question.js"></script>

<!-- Iconify -->
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</html>

@section Scripts{

    <script>let TagInput = document.getElementById("search-tag");
        let spanforTag = document.getElementById("Tags");


        const closeButtons = document.querySelectorAll(".spnX");

        closeButtons.forEach(c => {
            c.addEventListener("click", (e) => {
                console.log(e.target)
            })
        })

        TagInput.addEventListener("input", (e) => {

            $.ajax({
                url: "/user/Get",
                method: "Post",
                dataType: 'json',
                data: {
                    searchString: e.target.value
                },
                success: function (data) {
                    let value = e.target.value;

                    console.log(TagInput.nodeValue)
                    console.log(TagInput.value)

                    if (spanforTag.hasChildNodes()) {
                        let existed = document.querySelectorAll(".tagSing");

                        existed.forEach(e => {
                            if (e.textContent == data) {
                                data = '';
                            }

                        })
                    }

                    if (data != "" || data == value) {

                        if (value != "") {

                            const spnChild = document.createElement("span");
                            const spnX = document.createElement("span");
                            spnChild.classList.add("tagSing");
                            spnX.classList.add("spnX");


                            $(spanforTag).append(spnChild);
                            spnChild.innerText = data;

                            $(spnChild).append(spnX);

                            e.target.value = '';

                        }
                    }

                },

                error: function (err) {
                    console.log(err);
                }

            })
        })</script>
}


