@model AdminLoginVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/assets/Images/Logo/apple-touch-icon@2.png"
          type="image/x-icon" />
    <title></title>
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>
<body>
    <main>
        <div class="sign-in">
            <div class="sign-in__left d-none-980"></div>
            <div class="sign-in__container">
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <form class="gap-sm-16" method="post">
                    <div class="sign-in-img">
                        <img draggable="false"
                             src="~/assets/Images/admin/367-3670105_admin-login-logo-png.png"
                             alt="Admin" />
                    </div>
                    <span class="alert alert-danger" asp-validation-for="Username"></span>
                    <input asp-for="Username" placeholder="Username" autocomplete="off" />

                    <span class="alert alert-danger" asp-validation-for="Password"></span>
                    <input asp-for="Password" placeholder="Password" autocomplete="off" />
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </main>
</body>

<script src="~/assets/js/sections/sing-in.js"></script>
<!-- Iconify -->
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</html>

