@model AccountVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon"
          href="~/assets/Images/Logo/apple-touch-icon@2.png"
          type="image/x-icon" />
    <title>Log In - Stack Overflow</title>
    <link rel="stylesheet" href="~/assets/css/style.css" />
</head>
<body>
    <!-- nav -->
    <header>
        <nav class="">
            <!-- <div class="nav-all"> -->
            <!-- <div class="container"> -->
            <div class="nav-all">
                <div class="nav-burger display-none d-block">
                    <span class="nav-burger__icon"></span>
                    <span class="nav-burger__icon"></span>
                    <span class="nav-burger__icon"></span>
                </div>
                <div class="nav-burger-toggle l-0">
                    <ul>
                        <li><a href="Index.html">Home</a></li>
                        <li>
                            Public
                            <ul>
                                <li>
                                    <a href="">
                                        <iconify-icon icon="bx:world"></iconify-icon>
                                        Questions
                                    </a>
                                </li>
                                <li><a href="">Tags</a></li>
                                <li><a href="">Users</a></li>
                                <li><a href="">Companies</a></li>
                            </ul>
                        </li>
                        <li>
                            Collectives
                            <iconify-icon icon="bxs:info-circle"></iconify-icon>
                            <ul>
                                <li>
                                    <a href="">
                                        <iconify-icon icon="arcticons:questionnaire-star"></iconify-icon>
                                        Explore Collectives
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Teams
                            <div class="teams">
                                <div class="teams-title">
                                    <h4>Stack Overflow for Teams -</h4>
                                </div>
                                <div class="teams-desc">
                                    <p>
                                        Start collaborating and sharing organizational knowledge.
                                    </p>
                                </div>
                                <div class="teams-image">
                                    <img src="~/assets/Images/Teams/teams-illo-free-sidebar-promo.svg"
                                         alt="Stack Overflow For Teams" />
                                </div>
                                <div class="teams-button">
                                    <a href="">Create a free Team</a>
                                </div>
                                <div class="teams-why">
                                    <a href="">Why Teams?</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="nav-logo">
                    <a href="Index.html" class="nav-logo__image nav-logo-md-width">
                        <img class="d-640-none"
                             src="~/assets/Images/Logo/1280px-Stack_Overflow_logo.svg.png"
                             alt="Stackoverflow Logo" />
                        <img class="display-none d-block sm-img"
                             src="~/assets/Images/Logo/apple-touch-icon@2.png"
                             alt="Stackoverflow Logo" />
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li class="d-md-none"><a href="About.html">About</a></li>
                        <li id="products">
                            <a href="">Products</a>
                        </li>

                        <div class="products-toggle">
                            <div class="popover-arrow"></div>
                            <ul>
                                <li>
                                    <a href="">
                                        <span> Stack Overflow </span>
                                        <span> Public questions & answers </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span> Stack Overflow for Teams</span>
                                        <span>
                                            Where deleveopers & technologists share private
                                            knowledge with coworkers
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Talent</span>
                                        <span> Build your employer brand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span> Advertising </span>
                                        <span> Reach developers & technologists worldwide </span>
                                    </a>
                                </li>
                                <li>
                                    <a href=""> About the company </a>
                                </li>
                            </ul>
                        </div>
                        <li class="d-md-none"><a href="ForTeams.html">For Teams</a></li>
                    </ul>
                </div>
                <form action="" class="search">
                    <div class="nav-search d-640-none input-sm">
                        <input class="nav-search__input"
                               type="text"
                               placeholder="Search..." />
                        <iconify-icon icon="charm:search"></iconify-icon>

                        <div class="popover-arrow__search"></div>
                        <div class="nav-search__input-group">
                            <div class="nav-search__input-group__searchable flex-md-col">
                                <div class="nav-search__input-group__searchable--flex">
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>[tag]</span>
                                        <span>search within a tag</span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>user:1234</span>
                                        <span>search by author</span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>"words here"</span>
                                        <span>exact phrase</span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>collective:"Name"</span>
                                        <span>collective content</span>
                                    </div>
                                </div>
                                <div class="nav-search__input-group__searchable--flex">
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>answers:0</span>
                                        <span>unanswered questions </span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>score:3</span>
                                        <span>post with a 3+ score</span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>is:question</span>
                                        <span>type of post</span>
                                    </div>
                                    <div class="nav-search__input-group__searchable--flex--item">
                                        <span>isaccepted:yes</span>
                                        <span>search within status</span>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-search__input-group__more">
                                <div class="nav-search__input-group__more--flex">
                                    <div class="nav-search__input-group__more--flex--item">
                                        <a href="">Ask a question</a>
                                    </div>
                                    <div class="nav-search__input-group__more--flex--item">
                                        <a href="">Search help</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <ul>
                    <li class="display-none d-sm-if icon-sm">
                        <a href="#" class="display-none d-sm-if">
                            <iconify-icon icon="charm:search"></iconify-icon>
                        </a>
                    </li>
                    <li><a class="mtb-sm-6" href="LogIn.html">Log in </a></li>
                    <li><a class="mtb-sm-6" href="SignUp.html">Sign up</a></li>
                </ul>
            </div>
            <!-- </div> -->
            <!-- </div> -->
        </nav>
    </header>
    <!-- nav end -->
    <main>
        <div class="wrapper">
            <div class="wrapper__content">
                <div class="wrapper__content__flex">
                    <div class="wrapper__content__flex__logo">
                        <a href="Index.html">
                            <iconify-icon icon="logos:stackoverflow-icon"></iconify-icon>
                        </a>
                    </div>
                    <div class="wrapper__content__flex__form-container">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <form method="post"
                              class="wrapper__content__flex__form-container__form">
                            <div class="wrapper__content__flex__form-container__form__flex-item">
                                <label for="email">Email</label>
                                <div class="wrapper__content__flex__form-container__form__flex-item__input">
                                    <input asp-for="AppUser.Email" size="30" maxlength="100" />
                                    <iconify-icon icon="ion:alert-circle"></iconify-icon>
                                </div>
                                <span asp-validation-for="AppUser.Email" class="display-none wrapper__content__flex__form-container__form__flex-item--alert alert alert-danger"></span>
                            </div>
                            <div class="wrapper__content__flex__form-container__form__flex-item">
                                <button type="submit">Add</button>
                                <span class="wrapper__content__flex__form-container__form__flex-item__alert display-none"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="~/assets/js/script.js"></script>

<!-- Iconify -->
<script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
</html>
