@model Award
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Update Awards</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div asp-validation-summary="ModelOnly"></div>

                        <form method="post" enctype="multipart/form-data">
                            <div>
                                <label>Image:</label><br />
                                <img src="~/assets/images/about/@Model.Image" width="100" height="100" style="object-fit:cover" />
                                <input asp-for="Photo" class="form-control" /><br />
                                <span class="text-danger" asp-validation-for="Photo"></span>
                            </div>
                            <div>
                                <label>Name:</label><br />
                                <input asp-for="Name" class="form-control" /><br />
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div>
                                <label>Description:</label><br />
                                <textarea asp-for="Desc" class="form-control"></textarea><br />
                                <span class="text-danger" asp-validation-for="Desc"></span>
                            </div>
                            <div>
                                <label>Date of Submission:</label><br />
                                <input asp-for="DateOfSubmision" class="form-control" /><br />
                                <span class="text-danger" asp-validation-for="DateOfSubmision"></span>
                            </div>
                            <button type="submit" class="btn btn-info">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
